<h1> People Management System </h1>

<h2> Employees </h2>
<div class="employee-menu">
	<%= link_to 'Add Employee', new_employee_path %>
</div>
<div class="employee-group">
	<table style="width: 50%; text-align: center;">
		<tr>
			<th><strong> Name </strong></th>
			<th><strong> Role </strong></th>
			<th><strong> Department </strong></th>
		</tr>
		<% @employees.each do |employee| %>
			<tr onclick="location.href='<%= employee_path(employee) %>'">
				<td> <%= employee.name %> </td>
				<td> <%= employee.role %> </td>
				<td> <%= employee.department %> </td>
			</tr>
		<% end %>
	</table>
</div>
